body {
    display: flex;
    color: rgb(10, 126, 126);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    position: relative;

}

.background {
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
header {
    display: block;
    margin-top: 30%;
    margin-left: auto;
    margin-right: 40%;
    text-align: right;

}
.header-text {
    text-shadow:  1px 1px white;
    margin: 0;
}
#h1 div, #h2 div  {
    display: inline-block;
}

.links ul li {
    display: inline-block;
    list-style: none;
    margin-left: 15%;
    opacity: 0.5;
    position: relative;
}
.links ul li:hover {
    opacity: 1.0;
}
content {
    display: flex;
}
.buttons {
    justify-content: left;
}
footer {
    position: fixed;
    text-shadow: none;
    font-size: 80%;
    bottom: 0;
    width: 100%;
    height: 24px;
    color: whitesmoke; 
    background-color: rgb(10, 126, 126);
    text-align: center;
}
