/*Color scheme*/
:root {
    --my-teal: rgba(10, 126, 126, 1);
    --smoke: whitesmoke;
    --grape3: #e599f7;
    --grape7: #ae3ec9;
}

/*Highlight color*/
::selection {
    background-color: var(--smoke);
    color: var(--my-teal);
    text-shadow: 1px 0px var(--grape3);
}

/*Standard font size 10px and font family*/
html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--my-teal);
}

/*Header and link properties*/
h1, h2, h3, h4 {
    margin-bottom: .625rem;
    color: var(--my-teal);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2.2vw;
}

/*Set fixed scalable background */
.background {
    background-image: url("images/background1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*Header in a block centered-left*/
header {
    display: block;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: 50vw;
    text-align: right;
    line-height: 0px;
}

.header-text {
    text-shadow:  1px 1px var(--smoke);
    margin: 0;
}

/*Sets standard features for main*/
main {
    display: flex;
    flex-direction: row;
    justify-items: normal;
    width: 96%;
    color: var(--my-teal);
    height: 60vh;
    margin-top: auto;
}

/*Footer properties*/
footer {
    position: fixed;
    font-size: 1.2rem;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    color: var(--smoke); 
    background-color: var(--my-teal);
    text-align: center;
    line-height: 1.5rem;
}

/*Properties for nav links within header*/
.links ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1vw;
    margin-left: 4vw;
    position: relative;
    opacity: .5;
    color: var(--grape7);
    flex-wrap: nowrap;
}

.links ul li:hover {
    opacity: 1;
}
 
/*Content buttons are fixed location to bottom left of window*/
.buttons {
    position: fixed;
    bottom: 3.0rem;
    justify-content: left;
    margin-top: auto;
    overflow: visible;
    font-size: 3vw;
    font-weight: bold;
}
 
/* Properties for anchor buttons in main section*/
.buttons a {
    text-decoration: none;
    color: var(--my-teal);
}

.buttons a:hover {
    color: var(--smoke);
}
 
/*Properties for buttons showing fields*/
.localButton {
    padding: 0;
    text-indent: 0;
    background-color:transparent;
    background-repeat: no-repeat;
    -webkit-appeance: none;
    color: var(--my-teal);
    font-family: inherit;
    font-size: 3vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
}

 /*Highlights buttons but keeps them from moving to open field */
.localButton:hover {
    color: var(--smoke);
    display: flex;
    font-size: 3.4vw;
    font-weight: bold;
}

/*Hides fields when buttons not in use*/

.localButton .projectCard, .localButton #projects, .localButton div{
    display: none;
}

/*Displays content divs when buttons are clicked */
.localButton:hover div, .localButton:hover .projectCard {
    display: block;
    justify-content: center;
    align-items: top;
    margin-left: 15vw;
    border: 3px solid var(--my-teal);
    border-radius: 2px;
    color: var(--my-teal);
    background-color: var(--smoke);
}

/*Brings aboutMe section forward in z-index and spaces properly*/
#aboutMeCard:hover #aboutMe {
    position:center;
    width: auto;
    max-width: 600px;
    height: auto;
    overflow: auto;
    white-space: pre-wrap;
    word-spacing: 1vw;
    font-size: 1.5vh;
    position: center;
    padding: 1%;
}

/*Formats Projects section to maintain photo aspect ratio and display cards with good visual spacing*/

#projects:hover div{
    position: center;
    background: url(images/Swerved.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 60vw;
    max-width: 700px;
    height: 52.5vh;
    margin-top: 20vh;
    margin-left: 15vw;
    display: flex;
    flex-wrap: wrap;
}

#projects:hover .projectCard{
    background-color: var(--smoke);
    border-style: solid;
    border-width: 2px;
    border-color: var(--my-teal);
    border-radius: 5px;
    color: var(--my-teal);
    margin: auto;
    width: 28%;
    height: 28%;
}
#horiseon{
    background: url(images/digitalMarketingMeeting.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex: 0 0 36%;
    flex-wrap: wrap;

}
#horiseon h1{
    display: inline-block;
    color: var(--smoke);
    text-shadow: 1px 1px var(--my-teal);
    font-size: auto;
    margin-bottom: 15%;
}
#horiseon{
    background: url(images/digitalMarketingMeeting.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex: 0 0 33%;
    flex-wrap: wrap;

}
#horiseon h1{
    display: inline-block;
    color: var(--smoke);
    text-shadow: 1px 1px var(--my-teal);
    font-size: auto;
    margin-bottom: 15%;

}#passwordGenerator {
    background: url(images/passwordGenerator.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    justify-content: center;
    flex: 0 0 33%;
    flex-wrap: wrap;

}
#passwordGenerator h1{
    display: inline-block;
    color: var(--smoke);
    text-shadow: 1px 1px var(--my-teal);
    font-size: auto;
    margin-bottom: 15%;
}

#projects:hover .projectCard h1{
    display: inline-block;
    font-size: 2vh;
    margin-top: center;

}

/*Brings contact me up in z-layer and off bottom of page*/
#contactMe {
    position: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

/*Sets hover color for mailTo: anchor tag in contact form*/
#contactMe a:hover {
    color: var(--grape3);
}

/*Media query's to prevent over-sizing of text and icon-overlap*/

@media screen and (max-width: 370px) {
    .links{
        margin-left: auto;
        margin-right: auto;
    }
    .links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .links ul li {
        display: inline-block;
        list-style: none;
        position:unset;
    }
    #projects:hover .projectCard{
        width: 40%;
        height: 20%;
    }
}
@media screen and (max-width: 600px){
    #projects:hover .projectCard h1{
        font-size: .8rem;
    }
}

@media screen and (max-height: 600px){
    .buttons, .buttons button {
        font-size: 1.2rem;
    }
    #aboutMe{
        font-size: 1.1rem;
    }
}